

<span id="message_cont" class="W100 left bl">
  <% for(var i=0; i<thoughts.length; i++) { %>
    <span class="bl b_purple square bord_white white left" id="<%= thoughts[i].id %>">
      
      <% if(thoughts[i].friend) {  %>
        <span class="W96 left bl b_black P2 white"><%= thoughts[i].friend.name %></span>

      <% } else if(thoughts[i].mine) { %>
        <span class="W96 left bl b_black P2 white">Me</span>
      <% } %>
      
      <span class="W96 left bl black P2 b_white">
        <%= thoughts[i].body %>
      </span>

      <span class="W96 left bl P2">    
        <% if(!thoughts[i].mine) {  %>
          <button class="plus">+</button>
          <button class="minus">-</button>
          <button class="request">?</button>
        <% } %>

        <span class="rating">
          <%= thoughts[i].rating %>
        </span>
      </span>

      <span class="F10 W96 left bl P2">
        <%= thoughts[i].createdAt.getUTCFullYear() + '-' + thoughts[i].createdAt.getUTCMonth() + '-' + thoughts[i].createdAt.getUTCDay() %>
      </span>
    </span>


  <% } %>
</span>