<span class="W100 left bl">
  <span class="W50 left bl">
    
    <span class="left bl W100">They Requested</span>

    <% for(var i=0; i<they_requested.length; i++) { %>

      <span id="<%= they_requested[i].id %>" class="b_purple white square left bl bord_white">
        From: <%= they_requested[i].asker.name %>
        Re: <%= they_requested[i].thought.body %>
        <button class="accept" id="<%= they_requested[i].id %>">Accept</button>
      </span>

    <% } %>
  </span>

  <span class="W50 left bl">
    
    <span class="left bl W100">I Requested</span>

    <% for(var i=0; i<i_requested.length; i++) { %>

      <span class="b_purple white square left bl bord_white">
        From: Me
        Re: <%= i_requested[i].body %>
      </span>

    <% } %>
  </span>
</span>